*{
    padding:0;
    margin: 0;
}
body{
    background-color: aliceblue;
}
.wrapper{
    position: absolute;
    transform:translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.wrapper>form{
    border:15px solid #b6b6b6;
    height:350px;
    width: 300px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 40px;
    background-color: white;
}
.cat-hand{
    height: 90px;
    width: 90px;
    background-color: #fff;
    border:10px solid #b6b6b6;
    position: absolute;
    border-radius:90% 30%;
    right:-40px;
}
.cat-hand:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border:10px solid #b6b6b6;
    border-radius:30% 90%;
    left:-290px;
    top:-10px;
}
.cat-legs{
    height: 100px;
    width: 90px;
    background-color: white;
    border:10px solid #b6b6b6;
    position: absolute;
    border-radius: 90% 40%;
    left:20px;
    bottom: -90px;
    z-index:-1;
    transform: rotate(-38deg);
}
.cat-legs:before{
    content:"";
    height: 100px;
    width: 90px;
    background-color: white;
    border:10px solid #b6b6b6;
    position: absolute;
    border-radius: 90% 40%;
    left:100px;
    bottom: -100px;
    z-index:-1;
}
.cat-head{
    height: 180px;
    width: 60%;
    border-radius: 50%;
    background-color: white;
    border:10px solid #b6b6b6;
    position: absolute;
    top:-90px;
    left:50px;
    z-index: -1;
}
.cat-head>.eyes-right{
    height: 60px;
    width: 40px;
    background-color: white;
    border:7px solid #b6b6b6;
    border-radius: 50%;
    position: absolute;
    top:20px;
    left:30px;
    transform: rotate(-5deg);
}
.cat-head>.eyes-left{
    height: 60px;
    width: 40px;
    background-color: white;
    border:7px solid #b6b6b6;
    border-radius: 50%;
    position: absolute;
    top:20px;
    right:30px;
    transform: rotate(5deg);
}
.cat-head>.mustache-right{
    width: 70px;
    border: 5px solid #b6b6b6;
    border-radius: 70%;
    position: absolute;
    top: 40%;
    left:-30px;
    transform: rotate(30deg);
    box-shadow: -26px 26px 0 #b6b6b6;
}
.cat-head>.mustache-left{
    width: 70px;
    border: 5px solid #b6b6b6;
    border-radius: 70%;
    position: absolute;
    top: 40%;
    right:-30px;
    transform: rotate(-30deg);
    box-shadow: 26px 26px 0 #b6b6b6;
}
.cat-head>.ear-right{
    width: 0px;
    border:10px solid #b6b6b6;
    border-width: 50px 40px 100px ;
    border-color: transparent transparent #b6b6b6 transparent;
    position: absolute;
    top:-130px;
    transform: rotate(-30deg);
    transform-origin: bottom;
    z-index: -2;
}
.cat-head>.ear-right:before{
    content: "";
    width: 0px;
    border:10px solid #b6b6b6;
    border-width: 50px 30px 100px ;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: -30px;
    top: -16px;
    transform-origin: bottom;
}
.cat-head>.ear-left{
    width: 0px;
    border:10px solid #b6b6b6;
    border-width: 50px 40px 100px ;
    border-color: transparent transparent #b6b6b6 transparent;
    position: absolute;
    top:-130px;
    right: 0;
    transform: rotate(30deg);
    transform-origin: bottom;
    z-index: -2;
}
.cat-head>.ear-left:before{
    content: "";
    width: 0px;
    border:10px solid #b6b6b6;
    border-width: 50px 30px 100px ;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: -30px;
    top: -16px;
    transform-origin: bottom;
}