*{
    padding:0;
    margin: 0;
}
body{
    background-color: aliceblue;
}
.wrapper{
    position: absolute;
    transform:translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.wrapper>form{
    border:15px solid #b6b6b6;
    height:350px;
    width: 300px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 40px;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.cat-hand{
    height: 90px;
    width: 90px;
    background-color: #fff;
    border:10px solid #b6b6b6;
    position: absolute;
    border-radius:90% 30%;
    right:-50px;
}
.cat-hand:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border:10px solid #b6b6b6;
    border-radius:30% 90%;
    left:-290px;
    top:-10px;
}
.cat-legs{
    height: 100px;
    width: 90px;
    background-color: white;
    border:10px solid #b6b6b6;
    position: absolute;
    border-radius: 90% 40%;
    left:20px;
    bottom: -90px;
    z-index:-1;
    transform: rotate(-38deg);
}
.cat-legs:before{
    content:"";
    height: 100px;
    width: 90px;
    background-color: white;
    border:10px solid #b6b6b6;
    position: absolute;
    border-radius: 90% 40%;
    left:100px;
    bottom: -100px;
    z-index:-1;
}
.cat-head{
    height: 180px;
    width: 60%;
    border-radius: 50%;
    background-color: white;
    border:10px solid #b6b6b6;
    position: absolute;
    top:-90px;
    left:50px;
    z-index: -1;
}
.cat-head>.eyes-right{
    height: 60px;
    width: 40px;
    background-color: white;
    border:7px solid #b6b6b6;
    border-radius: 50%;
    position: absolute;
    top:20px;
    left:30px;
    transform: rotate(-5deg);
}
.cat-head>.eyes-left{
    height: 60px;
    width: 40px;
    background-color: white;
    border:7px solid #b6b6b6;
    border-radius: 50%;
    position: absolute;
    top:20px;
    right:30px;
    transform: rotate(5deg);
}
.cat-head>.mustache-right{
    width: 70px;
    border: 5px solid #b6b6b6;
    border-radius: 70%;
    position: absolute;
    top: 40%;
    left:-30px;
    transform: rotate(30deg);
    box-shadow: -26px 26px 0 #b6b6b6;
}
.cat-head>.mustache-left{
    width: 70px;
    border: 5px solid #b6b6b6;
    border-radius: 70%;
    position: absolute;
    top: 40%;
    right:-30px;
    transform: rotate(-30deg);
    box-shadow: 26px 26px 0 #b6b6b6;
}
.cat-head>.ear-right{
    width: 0px;
    border:10px solid #b6b6b6;
    border-width: 50px 40px 100px ;
    border-color: transparent transparent #b6b6b6 transparent;
    position: absolute;
    top:-130px;
    transform: rotate(-30deg);
    transform-origin: bottom;
    z-index: -2;
}
.cat-head>.ear-right:before{
    content: "";
    width: 0px;
    border:10px solid #b6b6b6;
    border-width: 50px 30px 100px ;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: -30px;
    top: -16px;
    transform-origin: bottom;
}
.cat-head>.ear-left{
    width: 0px;
    border:10px solid #b6b6b6;
    border-width: 50px 40px 100px ;
    border-color: transparent transparent #b6b6b6 transparent;
    position: absolute;
    top:-130px;
    right: 0;
    transform: rotate(30deg);
    transform-origin: bottom;
    z-index: -2;
}
.cat-head>.ear-left:before{
    content: "";
    width: 0px;
    border:10px solid #b6b6b6;
    border-width: 50px 30px 100px ;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: -30px;
    top: -16px;
    transform-origin: bottom;
}
.cat-tail{
    position: absolute;
    height: 300px;
    width: 300px;
    background:radial-gradient( 30px at center, white 100%,transparent);
    background-color: #b6b6b6;
    background-size: 90px 90px;
    background-repeat: round;
    top:0;
    border-radius: 50%;
    left:100px;
     -webkit-mask-image: radial-gradient(150px at 60% 30% , transparent 100%,black); 
   /* clip-path: polygon(9% 25%, 13% 53%, 26% 72%, 48% 81%, 74% 75%, 91% 62%, 100% 35%, 97% 20%, 91% 34%, 85% 48%, 74% 58%, 56% 63%, 39% 48%, 32% 22%, 26% 9%, 14% 14%);*/
   z-index: -1;
}
form>input[type="text"],input[type="password"]{
 width: 100%;
 height: 40px;
 border-radius: 20px;
 margin-bottom: 20px;
 outline: none;
 text-align: center;
 border-color:#b6b6b6;
 border-style: solid;
 border-width: 3px;
 color:#414eff;
 font-family: Georgia, 'Times New Roman', Times, serif;
 padding: 0px 15px;
 box-sizing: border-box;
 font-size: 16px;
 background-color: white;
}
form>input[type="text"]::placeholder,input[type="password"]::placeholder{
    text-align: center;
    color:#b6b6b6;
    font-size: 18px;
}
form>input[type="submit"]{
    height: 30px;
    width: 70%;
    border-radius: 20px;
    border:3px solid #b6b6b6;
    background-color: transparent;
    color:#b6b6b6;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all .5s;
    position: relative;
    left: 32px;
    outline: none;
}
form>input[type="submit"]:hover{
    background-color: #7e87ff;
    color:white;
    border-color: transparent;
}
form>input[type="submit"]:active{
    transform: scale(1.1);
}
form>h2{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    margin: auto;
    left: 65px;
    margin-bottom: 20px;
    color:#b6b6b6;
    text-transform: uppercase;
}
form>a{
    color:#8646ff;
    text-align: right;
    margin-top:20px;
    display: block;
    text-decoration: none;
    transition:all .5s;
}
form>a:active{
    transform: scale(1.1);
}